@import "../../variables.scss";

.form {
  text-align: right;
  button {
    font: inherit;
    cursor: pointer;
    background-color: $color1;
    border: 1px solid $color1;
    color: $color2;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
    &:hover,
    &:active {
      background-color: $color5;
      border-color: $color5;
    }
  }

  .input {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    label {
      font-weight: bold;
      margin-right: 1rem;
    }
    input {
      width: 3rem;
      border-radius: 5px;
      border: 1px solid #ccc;
      font: inherit;
      padding-left: 0.5rem;
    }
  }
}
